*.class
*.merge-left*
*.merge-right*
*.mine
*.prej
*.project
*.pyc
*.pyo
*.working
.svn
_svn
svn-commit*.tmp
config/yours/env/*.php
config/yours/vhosts/*
public/stylesheets/default/devv1.css
public/logs
config/yours/htaccess/*
/.htaccess
public/stylesheets/default/macaddict.old.css
public/stylesheets/default/phpgasus.old.css
PHPGasus-v1.esproj
