/* Colors

#DEE4EA light blue (sidecol bg)
#B4B4B4 gray (borders)
#728293 green blue (category headers)
#3C65D7 blue (links)
#D0D0D0 dark gray lighter (header gradient top)
#A7A7A7 dark gray (header gradient bottom)
#5c6062 grey (icons active)
#8f8f8f grey (icons inactive)
*/

/* Start Icons */
.toggle.plus { background-image:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAQAAABuBnYAAAAALklEQVR42mNgAAPf/wH/GZCB939fnAK+/71RIIPPf08g9ABCTzCEqvNAMAkKAACOWiQIZVi92AAAAABJRU5ErkJggg=="); } 
.toggle.minus { background-image:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAQAAABuBnYAAAAAE0lEQVR42mNgIB3k/UeFmAKkAwALmhbRFDdxEwAAAABJRU5ErkJggg=="); }
.resize { background-image:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAALCAAAAABn8JP5AAAAIklEQVR42mPI+/E/7ycQMYAYIISPkfv9PxgRxfj//T8YAQAm1EWlIM+gmwAAAABJRU5ErkJggg=="); }
.more { background-image:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAADCAAAAAB+XZokAAAAGklEQVR42mPo8fT07GH4X+1R/Z/h///i//8BR7gJn4HBkuYAAAAASUVORK5CYII="); }
/* End Icons */

/* Start Layout */
#sideCol { background:#dee4ea; }
#mainCol { background:#fff; }

footer.menu { display:none; }
/* End Layout */

/* Start Side Col */
/*
#mainCol.collapsed,
#sideCol.collapsed { width:22px; overflow:hidden; -moz-box-flex:0; -webkit-box-flex:0; -o-box-flex:0; -ms-box-flex:0; box-flex:0; -moz-transition:all .3s ease-in-out; -webkit-transition:all .3s ease-in-out; -o-transition:all .3s ease-in-out; -ms-transition:all .3s ease-in-out; }
#mainCol.collapsed #mainColContent,
#sideCol.collapsed #asideContent { width:0; overflow:hidden; visibility:hidden; }
#mainCol.collapsed footer li,
#sideCol.collapsed footer li { display:none; }
#mainCol.collapsed footer li.toggler,
#sideCol.collapsed footer li.toggler { display:block; border-right:none; }
*/	
footer.menu { max-height:24px; display:block; clear:both; }
footer.menu ul { height:24px; display:block; }
footer.menu li { width:auto; height:24px; display:block; float:left; border:1px solid; border-color:#B4B4B4; border-width:0 1px 0 0; -webkit-box-shadow:1px 0 0 rgba(255,255,255, 0.5); box-shadow:1px 0 0 rgba(255,255,255, 0.5); background-position:50% 50%; background-repeat:no-repeat; cursor:pointer; }
footer.menu li.active { background-color:rgba(0, 0, 0, 0.1); }
footer.menu li a { width:12px; height:24px; overflow:hidden; padding:0 5px; display:block; float;left; background-position:50% 50%; background-repeat:no-repeat; }
footer.menu li a .value { display:block; text-indent:-9999em; }
footer.menu li:last-child { border-right:none; -webkit-box-shadow:-1px 0 0 rgba(255, 255, 255, 0.8) inset; box-shadow:-1px 0 0 rgba(255, 255, 255, 0.8) inset; }
footer.menu { background:#ebebeb; background:-webkit-gradient(linear, left top, left bottom, from(#fdfdfd) to(#ebebeb), color-stop(50%, #f6f6f6), color-stop(50%, #ebebeb)); background:-webkit-linear-gradient(#fdfdfd 0, #f6f6f6 50%, #ebebeb 50%, #ebebeb 100%); background:-moz-linear-gradient(#fdfdfd 0, #f6f6f6 50%, #ebebeb 50%, #ebebeb 100%); background:-o-linear-gradient(#fdfdfd 0, #f6f6f6 50%, #ebebeb 50%, #ebebeb 100%); background:-ms-linear-gradient(#fdfdfd 0, #f6f6f6 50%, #ebebeb 50%, #ebebeb 100%); background:linear-gradient(#fdfdfd 0, #f6f6f6 50%, #ebebeb 50%, #ebebeb 100%); border:1px solid; border-color:#B4B4B4; border-width:1px 0 0; }
footer.menu .more { display:none; }
footer.menu .resize { float:right; cursor:col-resize; }

#mainColColToggler { display:none; }
/* End Side Col */


/* 1024 x 768 */
@media screen and (min-width:980px) 
{
}

/* 1280 x 1024 */
@media screen and (min-width:1240px) 
{
    #sideCol,
    #sideCol.expanded { width:320px; border:1px solid #b4b4b4; border-width:0 1px 0 0; -webkit-box-shadow:-1px 0 0 rgba(255,255,255,0.8) inset; box-shadow:-1px 0 0 rgba(255,255,255,0.8) inset; -moz-transition:all .3s ease-in-out; -webkit-transition:all .3s ease-in-out; -o-transition:all .3s ease-in-out; -ms-transition:all .3s ease-in-out; }
}

/* 1600 x 1200 */
@media screen and (min-width:1560px) 
{
}

/* 1980 x 1200 */
@media screen and (min-width:1820px) 
{
}